body{
    background-color: rgb(30, 30, 30);
}
img{
    width: 60%;
    display: block;
    margin: auto;
    border: 1px solid white;
}
/*Responsive design pour affichage sur smartphone*/
@media screen and (max-width: 800px){
    img{
        width: 100%;
    }
}