body
{
	background-color : #F08AD6;
}

main /*conteneur flexbox*/
{
	display : grid;
	grid-template-columns : 1fr 1fr 1fr; /*3 colonnes de même largeur*/
	width : 55%;
	margin : auto;
	gap : 6px;
}

img[alt="photo de l'auteur"]
{
	max-width : 100%;
	height : auto;
}

.bresil
{
	grid-row : 1/3;
	margin : auto;
}
	
.a-propos
{
	background-color : black;
	color : white;
	padding : 10px;  /*marge intérieure*/
}

.portfolio
{
	background-color : #E3E3E3;
	color : black;
	padding : 10px;
}

.cv
{
	background-color : #E3E3E3;
	color : black;
	padding : 10px;	
}

.contact
{
	background-color : black;
	color : white; 
	padding : 10px;
}

a:visited{
	color:blue;
}