body{
	background-color: black;
}
/*conteneur flexbox*/
main{
	display : grid;
	grid-template-columns : 1.5fr 1fr 1fr; /*3 colonnes dont la 1ère 1.5 fois plus large*/
	width : 60%;
	margin: auto;
	gap : 6px;
}
.title{
	grid-column: 1/4;
	color: white;
	font-family: "Permanent Marker", sans-serif;
	font-size: 2em;
	text-align: center;
	padding: 0;
}
.bresil{
	grid-row : 2/4;
	margin : auto;
	padding : 0px;
}
img[alt="profile picture"]{
	max-width : 100%;
	height : auto;
	border: 1px solid white;
}
/*tuile 1/4*/
.a-propos{
	grid-row-start: 2;
	background-color : white;
	color : black;
}
/*tuile 2/4*/
.portfolio{
	grid-row-start: 2;
	background-color: black;
	border: 1px solid white;
	color : white;
}
/*tuile 3/4*/
.cv{
	grid-row-start: 3;
	background-color: black;
	border: 1px solid white;
	color : white;
}
/*tuile 4/4*/
.contact{
	grid-row-start: 3;
	background-color : white;
	color : black; 
}
.contact img{
	width: 20px;
	filter: brightness(0%);
}
.element{
	padding: 10px;
}
.a-propos:hover, .portfolio:hover, .cv:hover, .contact:hover
{
	background-color: #B5B5B5;
}
/*Gestion couleur des liens*/
a{
	color:white;
}
.contact a{
	color: black;
}
.contact a:visited{
	color: black;
}

/*Responsive design pour affichage sur smartphone*/
@media screen and (max-width: 800px){
	/*On doit changer la couleur des tuiles car l'ordre n'est plus le même*/
	/*conteneur flexbox*/
	main 
	{	
		grid-template-columns: 1fr;
		width : 90%;
	}
	.title{
		grid-column: 1/2;
	}
	.bresil{
		grid-row: 2/3;
	}
	.a-propos{
		grid-row-start: 3;
	}
	.portfolio{
		grid-row-start: 4;
	}
	.cv{
		grid-row-start: 5;
		background-color: white;
		color : black;
	}
	.contact{
		grid-row-start: 6;
		background-color : black;
		border: 1px solid white;
		color : white; 
	}
	.contact img{
		filter: invert(50%);
	}
	/*Gestion couleur des liens*/
	.cv a{
		color: black;
	}
	.contact a{
		color: white;
	}
	.contact a:visited{
		color:white;
	}
}