body{
	background-color: rgb(30, 30, 30);
	animation: pageLoad 1s ease-out;
}
@keyframes pageLoad{
	from{
		opacity: 0;
		transform: rotateX(-40deg);
	}
	to{
		opacity: 1;
		transform: rotateX(0);
	}
}
/*conteneur flexbox*/
main{
	display : grid;
	grid-template-columns : 1.5fr 1fr 1fr; /*3 colonnes dont la 1ère 1.5 fois plus large*/
	width : 60%;
	margin: auto;
	gap : 6px;
}
.title{
	grid-column: 1/4;
	font-family: "Orbitron", sans-serif;
	font-size: 2em;
	text-align: center;
	color: #808080;
	transition: all 0.1s;
}
.title:hover{
	letter-spacing: 1px;
	color: white;
	text-shadow: 0 0 5px white;
}
.bresil{
	grid-row : 2/4;
	margin: auto;
	border: 1px solid rgb(200, 200, 200);
	overflow: hidden;
	padding: 0;
}
img[alt="profile picture"]{
	width : 100%;
	height: auto;
	transition: all 0.3s;
}
img[alt="profile picture"]:hover{
	transform: scale(1.1);
}
/*tuile 1/4*/
.a-propos{
	grid-row-start: 2;
	background-color : rgb(200, 200, 200);
	color : rgb(30, 30, 30);
	padding: 15px;
}
/*tuile 2/4*/
.portfolio{
	grid-row-start: 2;
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(200, 200, 200);
	color : rgb(200, 200, 200);
	padding: 15px;
}
.custom-list{
	list-style: none;         /* supprime les puces par défaut */
	padding-left: 0;          /* supprime l’indentation */
}
ul.custom-list li::before{
	content: "👉";
	margin-right: 10px;
}   
/*tuile 3/4*/
.cv{
	grid-row-start: 3;
	background-color: rgb(30, 30, 30);
	border: 1px solid rgb(200, 200, 200);
	color : rgb(200, 200, 200);
	padding: 15px;
}
.link-download-cv {
	text-decoration: none;
}
.link-download-cv:hover {
	text-decoration: underline;
}
/*tuile 4/4*/
.contact{
	grid-row-start: 3;
	background-color : rgb(200, 200, 200);
	color : rgb(30, 30, 30); 
	padding: 15px;
}
.contact img{
	width: 20px;
	filter: brightness(0%);
}
.a-propos:hover, .portfolio:hover, .cv:hover, .contact:hover{
	background-color: #5a5a5a;
}
/*Gestion couleur des liens*/
a{
	color:rgb(200, 200, 200);
	text-decoration: none;
}
a:hover {
	color: #ff9800;
	text-decoration: underline;
	transition: 0.3s;
}  

/*Responsive design pour affichage sur smartphone*/
@media screen and (max-width: 800px){
	/*On doit changer la couleur des tuiles car l'ordre n'est plus le même*/
	/*conteneur flexbox*/
	main {	
		grid-template-columns: 1fr;
		width : 90%;
	}
	.title{
		grid-column: 1/2;
	}
	.bresil{
		grid-row: 2/3;
	}
	.a-propos{
		grid-row-start: 3;
	}
	.portfolio{
		grid-row-start: 4;
	}
	.portfolio a{
		color: rgb(200, 200, 200);
	}
	.cv{
		grid-row-start: 5;
		background-color: rgb(200, 200, 200);
		color : rgb(30, 30, 30);
	}
	.cv a{
		color: rgb(30, 30, 30);
	}
	.contact{
		grid-row-start: 6;
		background-color : rgb(30, 30, 30);
		border: 1px solid rgb(200, 200, 200);
		color : rgb(200, 200, 200); 
	}
	.contact img{
		filter: invert(50%);
	}
	/*Gestion couleur des liens*/
	a:hover{
		color: #ff9800;
		text-decoration: underline;
		transition: 0.3s;
	}  
}